h1{
    padding: 5px;
    border: solid black 2px;
    background-color: cadetblue;
    color: white;
}
.lord{ 

width: 1024px;
height: 768px;

}

h3{

padding: 10px;
border: solid darkblue 5px;
background-color: brown;






}















