h1{


padding: 5px;
border: solid darkolivegreen 2px;
background-color: cyan;

}


h2{


padding: 3px;
border: solid lawngreen 4px;
background-color: rgb(23, 219, 219);



}


h3{



padding: 6px;
border: solid navy 3px;
background-color: darkgray;










}