h1{

padding: 5px;
border: solid skyblue 2px;
background-color: brown;

}



h2{


    padding: 3px;
    border: solid rgb(106, 110, 112) 2px;
    background-color: rgb(153, 165, 42);




}




h3{


    padding: 2px;
    border: solid rgb(16, 55, 75) 2px;
    background-color: rgb(206, 161, 12);




}











